<div class="bg-gray-200 w-screen h-screen flex justify-center items-center">
  <div class="w-5/6 h-5/6 flex flex-col justify-center align-center">
    <!-- header -->
    <div>
      <h1 class="text-center text-gray-400 text-xl my-10 font-bold">
        <span>Right now in </span
        ><input
          class="bg-gray-200 border-b-2 border-gray-400 outline-none text-gray-800 font-bold"
          type="text"
          ng
        /><span> , it's {{ condition }}</span>
      </h1>
    </div>

    <!-- main content -->
    <div class="flex w-full mb-16">
      <div class="w-1/3">
        <img [src]="imageUrl" alt="weather" class="w-1/2" />
      </div>
      <div class="w-1/3 flex flex-col justify-center items-center">
        <p class="font-normal text-9xl text-gray-800 mb-4">
          {{ tempC | degree }}
        </p>
        <p class="font-bold text-lg text-gray-400">
          {{ maxTempC | degree }} / {{ minTempC | degree }}
        </p>
      </div>
      <div class="w-1/3 flex flex-col mb-10 justify-center items-center">
        <div class="flex flex-col justify-center items-start">
          <p class="text-lg text-gray-400 font-semibold">
            <span class="text-5xl"
              ><img
                src="../assets/wind.svg"
                alt="umbrella"
                class="w-8 inline-block mr-2"
              />{{ windMph }}</span
            >
            mph
          </p>
          <p class="text-lg text-gray-400 font-semibold">
            <span class="text-5xl"
              ><img
                src="../assets/umbrella.svg"
                alt="umbrella"
                class="w-8 inline-block mr-2"
              />{{ windDeg }}</span
            >
            %
          </p>
          <p class="text-lg text-gray-400 font-semibold">
            <span class="text-5xl"
              ><img
                src="../assets/water.svg"
                alt="umbrella"
                class="w-8 inline-block mr-2 font-bold"
              />{{ humidity }}</span
            >
            %
          </p>
        </div>
      </div>
    </div>

    <!-- Prediction -->
    <div class="flex w-full">
      <div
        class="flex flex-col justify-center items-center w-1/4"
        *ngFor="let item of predictionItems"
      >
        <img [src]="item.day.condition.icon" alt="weather" class="w-1/6 mb-4" />
        <p class="text-gray-400 text-3xl font-normal mb-2">
          {{ item.day.maxtemp_c | degree }} / {{ item.day.maxtemp_c | degree }}
        </p>
        <p class="text-gray-400 text-sm font-extrabold">{{ item.date }}</p>
      </div>
    </div>
  </div>
</div>
